In [87]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [3]:
print(df.head())

               Airline  FlightNumber           From_To  RecentDelays
0               KLM(!)       10045.0      LoNDon_paris      [23, 47]
1    <Air France> (12)           NaN      MAdrid_miLAN            []
2  (British Airways. )       10065.0  londON_StockhOlm  [24, 43, 87]
3       12. Air France           NaN    Budapest_PaRis          [13]
4          "Swiss Air"       10085.0   Brussels_londOn      [67, 32]

In [88]:
l=df[df['FlightNumber'].isnull()].index.tolist()
df.FlightNumber.fillna(method="ffill",inplace=True,downcast='int64')
for i in l:
    df.FlightNumber[i]=df.FlightNumber[i]+10

In [89]:
print(df)

               Airline  FlightNumber           From_To  RecentDelays
0               KLM(!)         10045      LoNDon_paris      [23, 47]
1    <Air France> (12)         10055      MAdrid_miLAN            []
2  (British Airways. )         10065  londON_StockhOlm  [24, 43, 87]
3       12. Air France         10075    Budapest_PaRis          [13]
4          "Swiss Air"         10085   Brussels_londOn      [67, 32]

In [90]:
df[['From','To']] = df.From_To.str.split(pat='_',expand=True)

In [91]:
df.From=df.From.str.capitalize()
df.To=df.To.str.capitalize()
df.drop(['From_To'],axis=1,inplace=True)
print(df)

               Airline  FlightNumber  RecentDelays      From         To
0               KLM(!)         10045      [23, 47]    London      Paris
1    <Air France> (12)         10055            []    Madrid      Milan
2  (British Airways. )         10065  [24, 43, 87]    London  Stockholm
3       12. Air France         10075          [13]  Budapest      Paris
4          "Swiss Air"         10085      [67, 32]  Brussels     London

In [92]:

df.RecentDelays=df.RecentDelays.astype(str).str.replace('[','')
df.RecentDelays=df.RecentDelays.astype(str).str.replace(']','')
df[['delay_1','delay_2','delay_3']] = df.RecentDelays.str.split(pat=',',expand=True) 
df.drop(['RecentDelays'],axis=1,inplace=True)
print(df)

               Airline  FlightNumber      From         To delay_1 delay_2  \
0               KLM(!)         10045    London      Paris      23      47
1    <Air France> (12)         10055    Madrid      Milan            None
2  (British Airways. )         10065    London  Stockholm      24      43
3       12. Air France         10075  Budapest      Paris      13    None
4          "Swiss Air"         10085  Brussels     London      67      32

  delay_3
0    None
1    None
2      87
3    None
4    None